{#
/**
 * @file
 * Bootstrap v4 Card. EXTENDED to ARticle
 *
 * @see http://v4-alpha.getbootstrap.com/components/card/
 */
#}
<{{ element ?: "div" }}{{ attributes.addClass(classes) }}>

<img class="photo-image" src="{{ photo_image }}" />
{% if photo_credit %}
    <span class="photo-credit">{{ photo_credit_text }}</span>
{% endif %}

</{{ element ?: "div" }}>




